@charset "UTF-8";
/* CSS Document */
html {
	background-color:#bab9b5;
}

body {
	font-family:Arial, sans-serif;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	content: "";
	clear:both;
	display:block;
	line-height: 0;
}

#logo {
	float:left;
	margin: 10px;
}

[data-role="header"] p {
	font-size:150%;
}

.plusSign {
	float:right;
	margin-top: -55px;
	margin-right: 10px;
	cursor:pointer;
}

[data-role="footer"] p {
	text-align:center;
}

.delitem {

	position: absolute;
	top: 50%;
	margin-top: -9px;

	right: 10px;

	width: 18px;
	height: 18px;

	cursor: pointer;

	background: black;

	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4);
	box-shadow: 0 1px 0 rgba(255,255,255,.4);

	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);

	z-index: 1;

}

.minusSign {
	float:right;
	margin-top: -45px;
	margin-right: 100px;
	cursor:pointer;
	text-align:center;
}

#userListItems li {
	padding: 0;
	margin-top:0;
	border-top-width:0;
	border-bottom-width:0;
}

#userListItems label {
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}